#mid-section {
    background: rgb(170, 195, 228);
    padding: 0 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

#left-section,
#right-section {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mid-section img {
    margin: 50px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#mid-section li {
    list-style: none;
}

@media only screen and (max-width: 650px) {
    #mid-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}